<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--  main layout -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>angsir网</title>
    <meta name="keywords" content="angsir网">
    <meta name="description" content="angsir网">
    <meta name="baidu_ssp_verify" content="012083dea3cb5ea1b27406bc9fe3dc22">

    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <!-- page Common css file -->

    <link href="__DIST__/css/basic.css" rel="stylesheet" type="text/css">
    <link href="__DIST__/css/public.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="__DIST__/css/main.html_aio_0a6f700.css">
    <script type="text/javascript" async="" src="__DIST__/js/atrk.js"></script>
    <script>
        // console.log
        if (window.console == undefined) {
            window.console = {
                log: function (msg) {
                }
            }
        }

    </script>
    <!-- page Common jquery file -->
    <script type="text/javascript">

        (function () {
            var protocol = window.location.protocol;
            var host = window.location.host;
            var baseUrl = protocol + '//' + host;

            window.GLOBAL_DOMAIN = window.GLOBAL_DOMAIN || {
                ctx: '#',
                rctx: '#',
                crctx: '#',
                pctx: '#',
                actx: '#',
                cpctx: '#',
                paictx: '#',
                sctx: '#',
                zctx: '#',
                ectx: '#',
                proctx: '#',
                lgsctx: protocol + '//static.lagou.com',
                FE_frontLogin: baseUrl + '/frontLogin.do',
                FE_frontLogout: baseUrl + '/frontLogout.do',
                FE_frontRegister: baseUrl + '/frontRegister.do'
            };

            window.GLOBAL_CDN_DOMAIN = '#';
        })();
    </script>

    <script src="__DIST__/js/jquery-1.11.3.min.js"></script>
    <script src="__DIST__/js/user.agent.js"></script>
    <script>
        //控制ajax 并发请求数量
        (function (jQuery) {
            var old_ajax = jQuery.ajax;
            var queue = []
            var c = 0;
            var max_c = 4;
            function ajax(arg) {
                var args = []
                for (var i = 0; i < arguments.length; i++) {
                    args.push(arguments[i]);
                }
                queue.push(args);
                setTimeout(run, 1);
            }
            function run() {
                c++;
                if (c > max_c) {
                    return;
                }

                var t = queue.shift();
                if (t) {
                    old_ajax.apply(jQuery, t).always(function () {
                        c--;
                        setTimeout(run, 1);
                    })
                }

            }

            //jQuery.ajax=ajax;


        })(jQuery)

    </script>



    <!-- End Alexa Certify Javascript -->

    <link href="__DIST__/css/search.css" rel="stylesheet" type="text/css">
    <!-- 请置于所有广告位代码之前 -->


</head>

<body>
    <!-- header start-->

    <script src="__DIST__/js/js.cookie.js"></script>
    <script>
            //ajax 刷新用户菜单 的现实和隐藏
            //$(".nav-menu").hide();
            (function () {

                var queue = []
                var data;

                function load_cookie() {

                    var userinfo = Cookies.get('userinfo');
                    if (userinfo == undefined) {
                        data = ({
                            'status': 0, 'result': {
                                'username': '',
                                'identity': ''
                            }
                        })
                        flush_view2();
                        return;
                    }
                    var arr = userinfo.split('|');
                    if (arr && arr[0] == '1') {
                        var uid = arr[1];
                        var username = Cookies.get('un-' + uid);
                        var identity = Cookies.get('st-' + uid);
                        if ((identity == '') || (undefined == identity)) {
                            identity = 1;
                        }
                        //console.log('username!=undefined ,',username!=undefined , username!='undefined' );
                        if (username && undefined != username && 'undefined' != username) {
                            data = ({
                                'status': 1, 'result': {
                                    'username': username,
                                    'identity': identity
                                }
                            })

                            flush_view2();
                            return;
                        }
                    }
                }




                function getUserInfo(callback) {
                    //console.log('push ');
                    //console.log('push ',callback.toString);
                    queue.push(callback);
                    flush_view2();
                }


                function flush_view2() {
                    if (!data) {
                        // console.log('no data');
                        return;
                    }
                    while (1) {
                        var callback = queue.shift()
                        if (!callback) {
                            break;
                        }
                        //console.log('call',callback.toString(),data)
                        callback(data)
                    }
                }

                window.getUserInfo = getUserInfo;

                load_cookie();
                //console.log('data',data);
                if (!data) {
                    $.ajax({
                        type: "POST",
                        url: "/passport/user/loginStatusAjax",
                        dataType: "json",
                        success: function (result) {

                            //flush_view(data);
                            data = result;
                            flush_view2();
                        }

                    });
                }


            })()

    </script>
    <include file="App/Home/View/component/nav.html" />

    <div class="clear"></div>
    <script>
        getUserInfo(function (data) {
            if (data['status'] != 0) {
                //已经登陆
                $('[loginstate="0"]').addClass('hidden');
                $('[loginstate="1"]').removeClass('hidden');
                if (data['result']['username']) {
                    $(".user-name").html(data['result']['username']);
                }

                if (data['result']['identity'] == 1) {
                    $('[identitystate="2"]').addClass('hidden');
                    $('[identitystate="1"]').removeClass('hidden');

                } else if (data['result']['identity'] == 2) {
                    $('[identitystate="1"]').addClass('hidden');
                    $('[identitystate="2"]').removeClass('hidden');
                }
            } else {
                //未登录
                $('[loginstate="1"]').addClass('hidden');
                $('[loginstate="0"]').removeClass('hidden');
                $('[identitystate="1"]').addClass('hidden');
                $('[identitystate="2"]').addClass('hidden');
                $('[identitystate="0"]').removeClass('hidden');
            }
        })

        //消息通知个数小红点ajax
        getUserInfo(function (data) {
            if (data['status'] != 0 && data['result']['identity'] == 1) {
                //求职者 ajax 获取通知个数
                $.ajax({
                    type: "get",
                    url: "/position/apply/getMessageNumAjax",
                    dataType: "json",
                    success: function (data) {
                        if (data['faceNum'] == 0) {
                            $('#face span').removeClass("msg");
                            data['faceNum'] = '';
                        }
                        if (data['notFitNum'] == 0) {
                            $('#notFit span').removeClass("msg");
                            data['notFitNum'] = '';
                        }
                        if (data['messageSum'] == 0) {
                            data['messageSum'] = '';
                        }
                        if (data['status'] == 1) {
                            if (data['faceNum'] != '') {
                                $('#face span').addClass("msg");
                            }
                            if (data['notFitNum'] != '') {
                                $('#notFit span').addClass("msg");
                            }
                            if (data['messageSum'] != '') {
                                $('#messageSum').addClass("msg");
                            }
                            $('#face span').html(data['faceNum']);
                            $('#notFit span').html(data['notFitNum']);
                            $('#messageSum').html(data['messageSum']);
                        }
                    }
                });
            } else if (data['status'] != 0 && data['result']['identity'] == 2) {
                $.ajax({
                    type: "post",
                    url: "/apply/resume-manage/getNumAjax",
                    dataType: "json",
                    success: function (data) {
                        if (data['status'] == 1 && data['num'] != 0) {
                            $("#resume-manage-num").html(data['num']);
                            $("#resume-manage-num").addClass('msg');
                        } else {
                            $("#resume-manage-num").removeClass('msg');
                        }
                    }
                });
            }
        });
    </script>

    <!-- header end-->

    <div class="top-bar">
        <div class="wrap">
            <h3 class="title1">个人中心</h3>
        </div>
    </div>

    <div class="main">
        <div class="wrap">
            <div class="container clearfix" id="container">
                <!--
    @require "common/widgets/account-c-sidebar/main.less"
-->
                <div class="user_bindSidebar">
                    <ul class="user_sideBarmenu">
                        <li>
                            <a href="center.html" data-lg-tj-id="18g0" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">个人信息</a>
                        </li>

                        <li>
                            <a href="my.html" data-lg-tj-id="18j0" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">我的经历</a>
                        </li>

                        <li>
                            <a href="am.html" data-lg-tj-id="18j0" class="hover" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">修改密码</a>
                        </li>
                    </ul>
                </div>
                <input type="hidden" value="1" id="hasSidebar">

                <!--
    @require "account-c/modules/common/main.less"
    @require "account-c/modules/userinfo/main.less"
-->

                <div class="user_modifyContent">
                    <dl class="c_section">
                        <dt>
                            <p>登录帐号： {$user_info.user_id} </p>
                        </dt>
                        <dd>
                            <notempty name='noPwd'>
                                <p style='color:#f00'>两次输入的密码不一致！</p>
                            </notempty>
                            <notempty name='info'>
                                <p>{$info}</p>
                            </notempty>


                            <form id="updatePswForm" method="post">
                                <div class="input_item">
                                    <input type="password" name="pwd1" id="pwd1" placeholder="请输入新密码" maxlength="16" autocomplete="off">
                                </div>
                                <div class="input_item">
                                    <input type="password" name="pwd2" id="pwd2" placeholder="确认新密码" maxlength="16" autocomplete="off">
                                </div>
                                <span class="error" style="display:none;" id="updatePwd_beError"></span>
                                <div class="input_item">
                                    <input type="submit" value="保 存">
                                </div>

                            </form>
                        </dd>
                    </dl>
                </div>

            </div>
            <!-- 页面主体END -->
        </div>
    </div>
    <!-- footer start-->
    <include file="App/Home/View/component/footer.html" />

    <script src="__DIST__/js/jquery.ba-resize.js"></script>
    <script src="__DIST__/js/basic.js"></script>
    <script src="__DIST__/js/bl_jsvalidate.js"></script>
    <script src="__DIST__/js/uuid.js"></script>

    <script type="text/javascript" src="__DIST__/js/vendor_e3ddeee.js"></script>
    <script type="text/javascript" src="__DIST__/js/main.html_aio_b1a1945.js"></script>
    <script type="text/javascript" src="__DIST__/js/widgets_817b964.js"></script>
    <script type="text/javascript" src="__DIST__/js/userinfo_7f282e9.js"></script>
    <script type="text/javascript" src="__DIST__/js/layout_6a3a86f.js"></script>
    <script type="text/javascript" src="__DIST__/js/main.html_aio_2_3543cee.js"></script>
    <script type="text/javascript">
        require(['common/widgets/header_c/modules/emailvalid/main']);


        require(['common/widgets/passport/passport'], function () {


            require(['common/widgets/common/msgPopup']);
            // require('notice');


        });


        require(['common/widgets/header_c/layout/main']);


        require(['account-c/modules/userinfo/main']);


        require(['common/widgets/footer_c/modules/feedback/feedback']);


        require(['common/widgets/footer_c/layout/main']);

        $(document).ready(function () {
            var selector = '#webchat7moor';
            if ($(selector).length) {
                return;
            }

            var jqIframe = $('<iframe>', {
                id: selector.slice(1),
                src: '//static.lagou.com/third-parties/webchat7moor/main_22faef3.html',
                style: 'margin:0;'
                    + 'padding:0;'
                    + 'width:320px;'
                    + 'height:500px;'
                    + 'border-width:0;'
                    + 'border-radius: 3px;'
                    + 'transition: height 0.5s ease-out;'
                    + 'z-index:-99999;'
                    + 'display: none;'
                    + 'bottom:0;'
                    + 'right:0;'
                    + 'position:fixed;'
            });
            $(document.body).append(jqIframe);

            var child = jqIframe[0].contentWindow;
            var target = window.location.protocol + '//' + (window.GLOBAL_CDN_DOMAIN || 'static.lagou.com');

            $('#onlineService, #feedback-icon').on('click', function (e) {
                jqIframe.css('z-index', 99999).show();
                child.postMessage('{"code":1,"message":"open webchat plugin"}', target);
            });

            $(window).on('message', function (e) {
                var origin = e.origin || e.originalEvent.origin;
                if (origin.indexOf(target) !== 0) {
                    return;
                }

                var data = e.data || e.originalEvent.data;
                if (data.code === 2 && typeof data.css !== 'undefined') {
                    jqIframe.css(data.css);
                } else {
                    jqIframe.css('z-index', -99999).hide();
                }
            });
        });
    </script>

    <!-- footer end-->
    <script src="__DIST__/js/handlebars-v3.0.3.js"></script>

</body>

</html>